{% extends "layout.html" %}
{% block title %}Uusi resepti{% endblock %}
{% block content %}
{% if session.username %}
<h3>Lisää uusi resepti</h3>
<form id="add_rows" action="/new" method="POST">
    <input type="hidden" name="ingredient_rows" value="{{ ingredients }}">
    <input type="hidden" name="step_rows" value="{{ steps }}">
</form>
<form id="add_recipe" action="/add" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="h5" for="name">Reseptin nimi:</label>
        <input type="text" class="form-control" placeholder="Nimi" name="name" required>
    </div>
    <div class="form-group">
        <label class="h5" for="ingredient">Ainesosat:</label>
        {% for x in range(ingredients) %}
        <div class="row mb-2">
            <div class="col">
                <input type="text" class="form-control" placeholder="Määrä" name="quantity" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Ainesosa" name="ingredient" required>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <input type="submit" name="add_ingredient" value="+" form="add_rows"/>
        <input type="submit" name="remove_ingredient" value="-" form="add_rows"/>
    </div>
    <div class="form-group">
        <label class="h5" for="step">Vaiheet:</label>
        {% for x in range(steps) %}
        <div class="row mb-2">
            <div class="col">
                <input type="text" class="form-control" placeholder="Vaihe" name="step" required>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <input type="submit" name="add_step" value="+" form="add_rows"/>
        <input type="submit" name="remove_step" value="-" form="add_rows"/>
    </div>
    <div class="form-group">
        <label class="h5" for="image">Kuva:</label>
        <input type="file" accept="image/*" name="image">
    </div>
    <div class="form-group">
        <input type="submit" value="Lisää resepti">
    </div>
</form>
{% else %}
<p>Et ole kirjautunut sisään</p>
{% endif %}
{% endblock %}